# Environment variables
.env
.env.production

# Django files
__pycache__/
*.pyc
*.sqlite3
/staticfiles/
/media/
*.log

# Virtual environment
.venv/
venv/
env/

# IDE files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db 
